@font-face {
  font-family: 'TIMES__';
  src: url('webfontkit-20230806-135721/timess__-webfont.woff2') format('woff2'),
         url('webfontkit-20230806-135721/timess__-webfont.woff') format('woff');
  font-family: 'akira_expanded';
  src: url('webfontkit-20240810-123509/akira_expanded_demo-webfont.woff') format('woff'),
         url('webfontkit-20240810-123509/akira_expanded_demo-webfont.woff2') format('woff2');
}

body
{   
    background-color: #000000;
    height: 100%;
    margin: 0;
    font-family: "akira_expanded";
    overflow-x: hidden; 
}

.navbar {
  background-color: #000000;
 
}
.navbar-brand {
  background-color: #000000;
  font-size: 2vw;
  padding: 5px;
}
.btn {
  font-size: 2vw;
  background-color: #000000;
  border: none;
}
.dropdown-menu {
  background-color: #000000;
  font-size: 2vw;
}
.dropdown-toggle {
  background-color: #000000;
  font-size: 2vw;
}
.dropdown-item {
  background-color: #000000;
  font-size: 2vw;
}
.dropdown {
  background-color: #000000;
  font-size: 2vw;
  
}
.show {
  background-color: #000000;
  font-size: 2vw;
  
}
/* unvisited link */
a:link {
  color: #eed119 !important;
}

/* visited link */
a:visited {
  color: #f5df4e !important;

}

/* mouse over link */
a:hover {
  color: #c0ab22 !important;
  text-decoration: none !important;
  
}

/* selected link */
a:active {
  color: #ffe373 !important;
}


.title {
  text-align: center;
  font-size: 24pt; 
  padding: 30px;
  font-family: 'akira_expanded';
  color: #ffffff;
}


.carousel-one {
  position: absolute;
  z-index: 1;
  display: table;
  font-size: 4vw; 
  font-family: 'akira_expanded';
  color: #ffffff;
  top: 5em;
  left: 1.6em;
  width:100%;
  height:100%;
}


.carousel-three {
  position: absolute;
  z-index: 1;
  display: table;
  align-items: center;
  font-size: 3vw; 
  font-family: 'akira_expanded';
  color: #ffffff;

  bottom: 1em;

 
}


/* transition duration to control the speed of fade effect */

.carousel-item {
  transition: transform 1.6s ease-in-out;
  height: 32rem;
  object-fit: cover;
}



@media (max-width: 767px) {
  .carousel-item {
    height: auto;  /* let the height adjust automatically on small screens */
  }
}
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1.6s;
}


h1 {
  

  font-size: 10pt;
  
}

h2 {
  font-size: 14pt;
  
  
}
h3 {
  font-size: 14pt;
  font-style: italic;
  text-align: center;
  
}

h4 {
  font-size: 12pt;
  text-align: center;
  
}

h5 {
  font-size: 12pt;
  
}

h6 {
  font-size: 15pt;
  
}


#bg-image {
  /* Full height */
  height: 800px;
   
  
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 { background-image: url("images/COPICS/skyline_randalls.jpg"); }
.img2 { background-image: url("images/COPICS/IMG_0835.jpeg"); }
.img3 { background-image: url("images/COPICS/IMG_1028.jpeg"); }
.img4 { background-image: url("images/COPICS/Riss\ mugged.png"); }
.img5 { background-image: url("images/COPICS//IMG_1097.jpeg"); }
.img6 { background-image: url("images/COPICS/IMG_5759.jpeg"); }
.img7 { background-image: url("images/COPICS/fuckme1.jpeg"); }
.img8 { background-image: url("images/COPICS/IMG_5803.jpeg"); }
.img9 { background-image: url("images/COPICS/IMG_5808.jpeg"); }
.img10 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 5.28.23\ PM.png"); }
.img11 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 6.02.22\ PM.png"); }
.img12 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 5.33.49\ PM.png"); }
.img13 { background-image: url("images/COPICS/Screenshot\ 2023-10-28\ at\ 10.29.25\ AM.png"); }
.img14 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 5.35.35\ PM.png"); }
.img15 { background-image: url("images/COPICS/Screenshot\ 2024-09-29\ at\ 10.55.45\ AM\ copy.PNG"); }
.img16 { background-image: url("images/COPICS/shadowgroup.jpg"); }
.img17 { background-image: url("images/COPICS/ Shot\ 2024-10-21\ at\ 6.36.32\ PM.png"); }
.img18 { background-image: url("images/COPICS/Screenshot\ 2024-09-29\ at\ 10.57.01\ AM.PNG"); }
.img19 { background-image: url("images/COPICS/IMG_0188.jpeg"); }
.img20 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 6.39.53\ PM.png"); }
.img21 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 6.00.56\ PM.png"); }
.img22 { background-image: url("images/COPICS/8763f3c3-1b82-43e0-8311-fb005e0f3b1e.JPG"); }
.img23 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 6.05.44\ PM.png"); }
.img24 { background-image: url("images/COPICS/Screen\ Shot\ 2024-10-21\ at\ 6.09.16\ PM.png"); }


/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;

  font-size: 14pt;
  position: absolute;
 
  top:25%;
  

  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: left;
}

.founderText2 {
  text-indent:50px;
  background-color: none;
  color: #ffffff;
  padding-left: 17vw;
  padding-right: 17vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}


.founderText {
  
  background-color: none;
  color: #ffffff;
  padding-left: 17vw;
  padding-right: 17vw;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.founderImage {
  background-color: none;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  
}

.oklahamaImage {
  background-color: none;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  
}

/*
.founderQuote {
  padding: 30px;
  font-size: 12pt;
  font-style: italic;
}


*/

.ticker-tape-container {
  overflow-x: hidden;

  width: 100%;
  display: flex;
}

.ticker-tape {
  --direction: normal;
  --duration: 30s;
  --delay: 0s;
  --iteration-count: infinite;
  display: flex;
  gap: 1rem;
  flex: 0 0 auto;
  margin-right: 1rem;
  min-width: 100%;
  align-items: center;
  animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* This is just some styling to make it look presentable */

.basic-styling {
  border-radius: 10px;
  background-color: none;
  padding: none;
  color: #c20000;
  font-size: 2vw;
  font-family: 'akira_expanded';
}



@media screen and (max-width: 600px) {

  .body {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }

}


/*# ourceMappingURL=style.css.map */